<%
   controller.java_facade.getCoreComponentByClassname('org.sonar.server.ui.PageDecorations').get().each do |decoration|
     begin
%>
    <%= render :inline => decoration.getTemplate() -%>
  <%
     rescue => error
       logger.error(error)
     end
     end
  %>

<%= render :partial => 'layouts/head' %>

<div class="page-wrapper" id="container">
  <% unless params[:layout] == 'false' %>
    <%= render :partial => 'layouts/nav' -%>
  <% end %>

  <%= render :partial => 'layouts/body' -%>

  <% unless params[:layout] == 'false' %>
    <%= render :partial => 'layouts/footer' -%>
  <% end %>
</div>

<div id="extra"></div>

<%= render :partial => 'layouts/foot' %>
