<%= render :partial => 'layouts/head' %>

<div class="page-wrapper page-wrapper-simple" id="container">
  <%= render :partial => 'layouts/nav' -%>
  <%= render :partial => 'layouts/body' -%>
  <%= render :partial => 'layouts/footer' -%>
</div>

<div id="extra"></div>

<script>
  document.querySelector('html').classList.add('dashboard-page');
</script>

<%= render :partial => 'layouts/foot' %>
